<div class="courses-panel">

    
        <div class="buttons">

                <button class="button button-primary" (click)="subscribeToNotifications()" [disabled]="sub">Subscribe</button>
    
                <button class="button button-danger" (click)="sendNewsletter()">Send</button>
    
            </div>
    <mat-tab-group>

        <mat-tab label="Shoes">

                <courses-card-list
                        [courses]="beginnerCourses$ | async">
    
                </courses-card-list>
    
            </mat-tab>
    
            <mat-tab label="Advanced">
    
                <courses-card-list
                        [courses]="advancedCourses$ | async"
    
                ></courses-card-list>
    
            </mat-tab>
    </mat-tab-group>

</div>